body{
	box-sizing: border-box;
}
html{
	height: 100%;
}
.wrapper{
	height: 100%;
	display: flex;
	flex-direction: column;

}
*{
	margin: 0;
	padding: 0;
}

header{
	background: url(../img/background.jpg) no-repeat center top / cover;
	height: 100%;	
}
.content{
	max-width: 960px;
	margin: 0 auto;	
	height: 100%;
	background:#C2B7B7A8;

}

 nav{
 	float: right; 	
 }
 .menu {
 	display: block;	
 	padding: 0;
 	margin: 0;
 }
.menu li {
	float: right;
	display: block;
	margin-left: 50px;
	margin-top: 30px;
	margin-right: 20px;
}
.menu li a {
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
}




main{
	background:url(../img/background_main.jpg) no-repeat center top / cover ;
	flex: 1 0 auto;
	
}

.logo_main_1{
	margin-top: 10px;
	width: 140px;
	height: 140px;
	text-align: left;
	display: block;
	float: left;


}
.logo_main_2{
	width: 140px;
	height: 149px;
	text-align: right; 
	display: block;
	float: right;
	clear: both;

}





footer{
	background:url(../img/backround_footer.jpg) no-repeat center top / cover;
	flex:0 0 auto;

}
footer .content{
	display: flex;

}
.contacts{
	height: 150px; 
	float: right;
	margin-top:  100px;		
}
.contact_item{
	text-align: center;
	width: 200px;
	float: right; 
	margin-left: 30px;
}
.logo_footer{
	height: 200px;
	width: 200px;
}

